<!DOCTYPE html>
<head>
    <title>Helm of Translating language</title>
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='logo_corvi.PNG') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>

<body>
<img src="{{ url_for('static', filename='logo_corvi.PNG') }}" class="icon"/>
<h3> Helm of Translating language 0.2 </h3>
<form action="/" method="post">
    <input type="text" name="text" placeholder="Enter verbal component" required/>
    <select name="language" required>
        <option value="">Select language</option>
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>
        <option value="german">German</option>
    </select>
    <input type="submit" value="Cast Translate Language"/>
</form>
{% if result %}
    <form class="result" id="my-form" method="POST" action="{{ url_for('copy') }}">
        <input type="text" name="result" id="my-result" value="{{ result }}"/>
    </form>
    <button type="submit" form="my-form">Copy to Grimoire</button>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
      {% for message in messages %}
        <div class="flash {{ message[1] }}">{{ message[0] }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

</body>
