<!DOCTYPE html>
<head>
    <title>Helm of Translating language</title>
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='logo_corvi.PNG') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>

<body>
<img src="{{ url_for('static', filename='logo_corvi.PNG') }}" class="icon"/>
<h3> Helm of Translating language 0.2 </h3>
<form action="/" method="post">
    <input type="text" name="text" placeholder="Enter verbal component" required/>
    <select name="language" required>
        <option value="">Select language</option>
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>
        <option value="chinese">Chinese</option>
        <option value="japanese">Japanese</option>
    </select>
    <input type="submit" value="Cast Translate Language"/>
</form>
{% if result %}
    <form class="result" id="my-form">
        <input type="text" name="result" id="my-result" value="{{ result }}"/>
        <button type="button" id="copy-btn">Copy to Grimoire</button>
    </form>

    <script>
        const copyBtn = document.getElementById('copy-btn');
        copyBtn.addEventListener('click', async () => {
            const resultEl = document.getElementById("my-result");
            try {
                await navigator.clipboard.writeText(resultEl.value);
                const formData = new FormData(document.querySelector('form'));
                const response = await fetch('/copy', {
                    method: 'POST',
                    body: formData
                });
            } catch (err) {
                console.error('Failed to copy form value: ', err);
            }
        });
    </script>

{% endif %}

</body>
